body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    width: auto;
}

h1 {
    font-weight: normal;
}

.main {
    display: inline-flex;
    flex-flow: wrap;

    margin-left: 20%;
    margin-right: 20%;

    align-items:inherit;
    justify-content: space-evenly;
    border: #FF6247 solid;
    max-height: 75vh;
    overflow-y: scroll;
    padding: 0.5%;
    
    /* hiding scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* more hiding scrollbar */
.main::-webkit-scrollbar {
    display: none;
}

.contentbox {
    /* x-inline doesn't work on neocities */
    padding-left: 2%;
    padding-right: 2%;

    margin-bottom: 0.5%;
    background-color: rgb(24, 24, 24);
    align-content: space-evenly;
    min-width: 100px;
    max-width: 75%;
    align-items:inherit;
    overflow: scroll;
    max-height: inherit;
}

.links {
    border: solid;
    border-color: #FFCB54;
}

.about {
    border: solid;
    border-color: #FF8A47;
}

.news {
    border: solid;
    border-color: #42A9E5;
    max-width: 65%;
}

.artpreview {
    min-width: 23.5%;
    max-width: min-content;
    width: auto;
    border: solid #3BE560;
}

.artpreview img {
    width: 100%;
}

.misc {
    border: solid #A052E5;
    width: 100%;
}