body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}





/* @import url(./fonts/JETBRAINSMONO-VARIABLEFONT_WGHT.TTF);

body {
    background-image: url(./images/catcolors.gif);
    background-color: black;
}

.nav {
    margin:auto;
    width: auto;
    height: auto;
    background-color: #2E3030;
    text-align: center;
    box-align: top;
    align-content: center;
    color: #ff8400;
    font-family: 'Courier New';
}

title {
    background-image: url('https://static.miraheze.org/rainworldwiki/e/e3/RW_LC_region_art.png');
    background-size: 100%;
    color: #ff9100;
    text-align: center;
    height: 100%;
    font-size: xx-large;
    font-family: 'Courier New';
    font-weight: 700;
    font-style: normal;
}

.main {
    margin: auto;
    align-content: center;
    background-color: #2E3030;
    height: auto;
}

a {
    color: #FFD800;
    font-family: 'JetBrains Mono';
}

p {
    color: #FFD800;
    font-family: 'JetBrains Mono';
} */