body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    width: auto;
}

h1 {
    font-weight: normal;
}

aside {
    max-width: 50%;
    justify-self: right;
    flex-wrap: wrap;
    float: right;
}


#omenDisplay {
    color: #a1a1a1;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

/* BORDER COLOURS */
.redborder {
    border: solid #FF6247;
}
.orangeborder {
    border: solid #FF8A47;
}
.yellowborder {
    border: solid #FFCB54;
}
.greenborder {
    border: solid #3BE560;
}
.blueborder {
    border: solid #42A9E5;
}
.purpleborder {
    border: solid #A052E5;
}

.main {
    display: inline-flex;
    flex-flow: wrap;

    margin-left: 20%;
    margin-right: 20%;

    align-items:inherit;
    justify-content: space-evenly;
    max-height: 75vh;
    overflow-y: scroll;
    padding: 0.5%;
    
    /* hiding scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* #indexmain {
    border: #FF6247;
} */

/* more hiding scrollbar */
.main::-webkit-scrollbar {
    display: none;
}

.contentbox {
    /* x-inline doesn't work on neocities */
    padding-left: 2%;
    padding-right: 2%;

    margin-bottom: 0.5%;
    background-color: rgb(24, 24, 24);
    align-content: space-evenly;
    min-width: 125px;
    max-width: 75%;
    align-items:inherit;
    overflow: scroll;
    max-height: inherit;
}

.links {
    
    /* border-color: #FFCB54; */
    width: min-content;
    display: grid;
}

.logo {
    width: 100%;
    background-size: 100%;
}

.about {
    /* border: solid; */
    /* border-color: #FF8A47; */
}
/* .about a {
    color: #FF8A47;
} */

/* About page contentboxes */
/* .about-me {
    border: solid #FF6247;
} */
/* .about-site {
    border: solid #ffc852;
} */

/* Status.cafe widget */
#statuscafe {
    padding: .5em;
    
    border: 1px solid white;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}


.news {
    /* border: solid;
    border-color: #42A9E5; */
    max-width: 65%;
}

.artpreview {
    min-width: 23.5%;
    max-width: min-content;
    width: auto;
    /* border: solid #3BE560; */
}

.artpreview img {
    width: 100%;
}

.misc {
    /* border: solid #A052E5; */
    width: 100%;
}